.table td, 
.table th {
    white-space: wrap;
    width: 0.3%;
}

.table td.fit, 
.table th.fit {
    white-space: wrap;
    width: 1%;
}

button {
    background: none;
    border: none;
    font-weight: bold;
}

.check {
    background: rgba( 133, 240, 240, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
